
* body{
    background: url("https://p0.meituan.net/csc/8a5730d4ecdee6de25f9285187cb66b1239238.jpg") no-repeat fixed center;
    background-size: cover;
    height: 100%;
}
.addDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
     height: 800px;
 }
 .addDiv2{
     width: 400px;
        height: 500px;
     box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
     border-radius: 10px;
 }
.addDiv2 form {
        width: 100%;
        height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.addDiv2 form table{

}
.addDiv2 form table tr{
    display: flex;
    flex-direction: column;
}
.addDiv2 form table tr td{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
 .addDiv2 form table tr td span{
   font-size: 20px;
}
 .addDiv2 form table tr td input{
  margin-left: 10px;
     height: 20px;
     border-radius: 5px;
     background-color: rgba(204, 204, 204, 0.09);
}
    .addDiv2 form table tr td input[type="submit"]{
        transition-duration: 300ms;
        width: 100px;
        height: 30px;
        background-color: rgba(24, 20, 20, 0.47);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .addDiv2 form table tr td input[type="submit"]:hover{
        transition-duration: 300ms;
        transform: translateY(-5px);
        background-color: rgba(24, 20, 20, 0.27);
    }
